extends base  
block content
 main.main--mainPage
  .main--mainPage-background__photo
    img.background__photo
  h1.main--mainPage-primary
   span.main--mainPage-primary-description Dziękuję za wszystkie informacje<br>  trafią one tak szybko na stronę jak tylko to możliwe
      