extends base  
block content
 main.main
  .change-password
    nav.user-change-password
        .user-site__form-container
        h2.heading-secondary.ma-bt-md Zmień swoje hasło<br><br>
        form.form.form-change-password
          .form__group
            label.form__label(for='current') Twoje hasło
            input#current.form__input(type='password', placeholder='••••••••', required, minlength='8')
          .form__group
            label.form__label(for='password') Nowe hasło
            input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
          .form__group.ma-bt-lg
            label.form__label(for='confirmPassword') Potwierdź hasło
            input#confirmPassword.form__input(type='password', placeholder='••••••••', required, minlength='8')
          .form__group.right
            button.btn.btn--small.btn--blue.btn--save-password Zapisz hasło