extends base

block content
  main.main
    .voivodeship-road
      h2.heading-secondary.ma-bt-lg Wpisz datę <br>
      form.form.form--voivodeship
        .form__group
          label.form__label(for='data') 
          input#droga.form__input(type='text', placeholder='data')

        .form__group
          button.btn.btn--green Wyślij informacje o remontach 