header.header
  nav.nav.nav--roads   
    a.nav__el(href='/mapaPolski') Mapa Polski
     nav.nav.nav.nay--roads
      a.nav__el(href='/remonty/wyszukiwarka') Wyszukaj Remont
     

  nav.nav.nav--user
    if user
      a.nav__el.nav__el--logout Wyloguj
      a.nav__el(href='/mojeKonto') Moje Konto
    else
      a.nav__el(href='/logowanie') Zaloguj się    
      a.nav__el.nav__el--singup(href='/rejestracja') Zarejestruj się    