extends base  
block content
 main.main
  .user-site
    nav.user-site__menu
      ul.pagePanel-nav Chcesz dostawać email wraz z informacjami o remontach przez wybranych przez ciebie miejscach? <br>Wybierz odpowiednią opcję dla ciebie i po każdorazowym skorzystaniu z opcji dostaniesz listę wraz z problemami na swoją skrzynkę pocztową <br><br>
        li.pagePanel-nav--active 
          a(href='/remontyWojewodztwie')
            | Remonty w Województwach
          a(href='/remontyNumerDrogi')
            | Remonty na wybranym numerze drogi
          a(href='/remontyOdcinek')
            | Remonty w wybranej miejscowości/odcinku
          a(href='/zmianaHasla')
            | Zmień swoje hasło
            <br>  
        li.pagePanel-nav--write Zobaczyłeś jakiś remont którego nie uwzględniłem na mapie? <br>Poinformuj mnie o tym :)
          a(href='/kontakt')    
            | Napisz do mnie
            .user-site__content      
      - if (user.role === 'admin')
        .admin-nav
          h5.admin-nav__heading Admin
          ul.pagePanel-nav
            li
              a(href='/NowyRemont')
                | Dodaj Nowy remont
            li
              a(href='/scrapowanie')
                | Pobieranie danych
            li
              a(href='/listaUzytkownikow')
                | Lista Uzytkowników
              


      
    