extends base  
block content
 main.main--mainPage
  .main--mainPage-background__photo
    img.background__photo
  h1.main--mainPage-primary
   span.main--mainPage-primary-description Portal z remontami drogowymi w polsce <br>
      a.btn.btn--white.btn--animated-signup(href='/rejestracja') Zarejestruj sie aby w pełni korzystać z serwisu