extends base

block content
  main.main
    .number-road
      h2.heading-secondary.ma-bt-lg Wpisz numer drogi <br>
      form.form.form--number
        .form__group
          label.form__label(for='droga') 
          input#droga.form__input(type='text', placeholder='numer drogi')

        .form__group
          button.btn.btn--green Wyślij informacje o remontach