extends base

block content
  main.main
    .scrapingRoad
      h2.heading-secondary.ma-bt-lg Pobieranie Danych
      form.form.form--scrapeRoad
        .form__group
          button.btn.btn--blue--scrape Zapisz dane
        
