extends base  
block content
 main.main--Voivo
  .main--Voivo-background__photo
    img.background__photo
  h1.main--Voivo-primary
   span.main--Voivo-primary-description Zostałes zapisany do newslettera
      